 <footer>
    <div class="fi">
    <div class="fgrid">
    <div>
      <div class="fn">Tagum City College of Science and Technology</div>
      <div class="ftag">Excellence in Education since 2007</div>
      <p class="fdesc">Nurturing locally competitive, morally upright individuals through quality education, research, and community service.</p>
    </div>
    <div>
      <div class="fct">Navigation</div>
      <ul class="fl">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="courses.html">Courses</a></li>
        <li><a href="facilities.html">Facilities</a></li>
        <li><a href="partners.html">Partners</a></li>
        <li><a href="admission.html">Admission</a></li>
      </ul>
    </div>
    <div>
      <div class="fct">Colleges</div>
      <ul class="fl">
        <li><a href="courses.html">BS Computer Science</a></li>
        <li><a href="courses.html">BS Tourism Management</a></li>
        <li><a href="courses.html">BTVTED Electrical Technology</a></li>
        <li><a href="courses.html">BTVTED Automotive Technology</a></li>
        <li><a href="courses.html">BTVTED Drafting Technology</a></li>
        <li><a href="courses.html">BTVTED Food Services Management</a></li>
        <li><a href="courses.html">BIndTech Electrical Technology</a></li>
        <li><a href="courses.html">BIndTech Automotive Technology</a></li>
      </ul>
    </div>
    <div>
      <div class="fct">Contact</div>
      <ul class="fl">
        <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=tcit2007@yahoo.com" target="_blank">tcit2007@yahoo.com</a></li>
        <li><a>Gazmen Road</a></li>
        <li><a>Mon–Fri, 7AM–5PM</a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="fbot">
    <div class="fcopy">© 2026 Tagum City College of Science and Technology Inc.. All rights reserved.</div>
    <div class="fsoc">
      <a href="#" class="sbtn">Fb</a>
      <a href="#" class="sbtn">Tw</a>
      <a href="#" class="sbtn">Ig</a>
      <a href="#" class="sbtn">Yt</a>
    </div>
  </div> -->
</div>
</footer>