 <nav>
  <div class="logo">
    <a href="index.html"></a>
    <div class="logo-box">
       <img src="./images/logo.png" alt="tccstfi_logo" class="tccstfi_logo">
    </div>
    <div class="logo-text">TCCSTFI College Department<small>Excellence in Education</small></div>
  </div>
 <div class="nav-links" id="nl"> 
    <a href="https://my-portfolio-kappa-eight-16.vercel.app/" target="_blank" class="portfolio-btn">K-12</a>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="courses.html">Courses</a>
    <a href="facilities.html">Facilities</a>
    <a href="partners.html">Partners</a>
    <a href="admission.html" class="cta">Admission</a>
  </div>
  <div class="burger" onclick="toggleMob()"><span></span><span></span><span></span></div>
</nav>
<div class="mob-nav" id="mn">
  <a href="https://my-portfolio-kappa-eight-16.vercel.app/" target="_blank" class="portfolio-btn">K-12</a>
  <a href="index.html">Home</a>
  <a href="about.html">About</a>
  <a href="courses.html">Courses</a>
  <a href="facilities.html">Facilities</a>
  <a href="partners.html">Partner Companies</a>
  <a href="admission.html" class="mcta">Admission</a>
</div>
